<a ui-sref="list"  ng-click = "showForm();">New contactx</a>
<table border="1">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name Name</th>
		</tr>
	</thead>
	<tbody >			
		<tr ng-repeat="contact in contacts" ng-click="editContact(contact)">			
			<!--
				<td>
					<a ui-sref="edit({id: contact.id})" ui-sref-active="active">
						{{ contact.first_name }}
					</a>    
				</td>
			-->
			<td>{{ contact.first_name }}</td>
			<td>{{ contact.last_name }}</td>
			<td>
				<ul>						
					<li ng-repeat="phone in contact.phones">
						{{ phone.number }}
					</li>						
				</ul>
			</td>
		</tr>			
	</tbody>
</table>

<div id="formContainer" class="hidden">
		<form>
			<table>
			<tr>
				<td>First name</td>
				<td>Last name</td>
				<td>Phone</td>
			</tr>
			<tr>
				<td>
					<input name='first_name' ng-model="contact.first_name"/>
				</td>
				<td>
					<input name='last_name' ng-model="contact.last_name"/>
				</td>
				<td>
					<input name='number' ng-model="contact.number"/>
				</td>
			</tr>
			<tr>
				<td>
					<input type='submit' value='Guardarx' ng-click='insertContact()'/>
				</td>
			</tr>
			</table>
			
			<tr>
				<td>
					{{ csrf_field() }}
				</td>
			</tr>
		</form>
	</div>