<a ui-sref="list"  ng-click = "addContact();">New contactx</a>
<table border="1">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name Name</th>
		</tr>
	</thead>
	<tbody >			
		<tr ng-repeat="contact in contacts" ng-click="editContact(contact)">			
			<!--
				<td>
					<a ui-sref="edit({id: contact.id})" ui-sref-active="active">
						{{ contact.first_name }}
					</a>    
				</td>
			-->
			<td>{{ contact.first_name }}</td>
			<td>{{ contact.last_name }}</td>
			<td>
				<ul>						
					<li ng-repeat="phone in contact.phones">
						{{ phone.number }}
					</li>						
				</ul>
			</td>
		</tr>			
	</tbody>
	

	<div>
		<form ng-submit='insertContact' name='newContactForm'>
			<table>
			<tr>
				<td>First name</td>
				<td>Last name</td>
				<td>Phone</td>
			</tr>
			<tr>
				<td>
					<input name='new-contact-name'/>
				</td>
				<td>
					<input name='new-contact-lastname'/>
				</td>
				<td>
					<input name='new-contact-phone'/>
				</td>
			</tr>
			<tr>
				<td>
					<input type='submit' value='Guardar' ng-click='insertContact()'/>
				</td>
			</tr>
			</table>
		</form>
	</div>


</table>